:root{
    --border: 1px solid black;
    --max-width: 850px;
    --background-nav-color: darkblue;
}

nav{
    background-color: var(--background-nav-color);
    padding: 10px
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1{
    color: var(--background-nav-color);
}

main{
    max-width: var(--max-width);
}

aside img{
    width: 200px;
    height: auto;
}

aside {
    width: 200px;
    margin: 1em auto;
    border: var(--border);
    padding: 1em;
    background-color: #eee;
    color: #333;
    text-align: center;
}

img{
    width: 150px;
    height: auto;
    border: var(--border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    max-width: var(--max-width);
    padding: 0px;
}

footer {
    max-width: var(--max-width);
    margin-top: 20px;
    border-top: 2px solid black;
    text-align: center;
}